doctype html

html(lang="en")
head
	title Chart
	script.
		var fiveUserBarChart =!{JSON.stringify(fiveUserBarChart)}
		var title = !{JSON.stringify(title)}
		
	script( type="text/javascript"
			src="js/fiveUserChart.js")
body
	#columnchart_five