doctype html

html(lang="en")
head
	title Chart
	script.
		var userBarChart =!{JSON.stringify(userBarChart)}
		var title = !{JSON.stringify(title)}
		var user = !{JSON.stringify(user)}
		
	script( type="text/javascript"
			src="js/userChart.js")
body
	#columnchart_user